{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "plugin:import/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "prettier",
        "import"
    ],
    "rules": {
        "prettier/prettier": "error",
        "import/no-unresolved": "warn",
        "import/named": "warn",
        "import/namespace": "warn",
        "import/default": "warn",
        "import/export": "warn",
        "@typescript-eslint/ban-ts-comment": "warn",
        "@typescript-eslint/require-await": "warn",
        "@typescript-eslint/return-await": "warn",
        "@typescript-eslint/no-use-before-define": [
            "error",
            {
                "functions": false
            }
        ]
    }
}